#page-wrap	{ position:absolute; top:320; left: 10px; width: 460px; margin: 10px; z-index:1} 
a			{ text-decoration: none; }
ul			{ list-style: none; }

/* LEVEL ONE */
ul.dropdown            { position: relative; background: white;}
ul.dropdown li         { font-size:10pt; font-weight: bold; float:left; /*zoom:1;*/  background: #44aa00; }
ul.dropdown a:hover    { color: white; }
ul.dropdown a:active   { color: white; }
ul.dropdown a:visited  { color: white; }
ul.dropdown li a       { display: block; padding: 6px 3px; border-right: 1px solid #333; color: #222; }
ul.dropdown li:last-child a { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover, ul.dropdown li:hover   { background: green; color: white; position: relative; }
ul.dropdown li.hover a   { color: white; }


/* LEVEL TWO */
ul.dropdown ul 		{ width: 120px; visibility:hidden; position: absolute; top: 100%;}
ul.dropdown ul li 	{ font-weight: bold; background: #44aa55; color: #000; border-bottom: 0px solid #44aa22; float: none; }
									  
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a	{ border-right: none; width: 100%; display: inline-block; } 

/* LEVEL THREE */
ul.dropdown ul ul 		{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 	{ visibility: visible; }
