body {
{scrollbar-arrow-color:ffffff;
        scrollbar-base-color:cfcfcf;
        scrollbar-darkshadow-color:ffffff;
        scrollbar-face-color:cfcfcf;
        scrollbar-highlight-color:fffff;
        scrollbar-shadow-color:595959

          background:url() no-repeat fixed right bottom;}
A:active {font-family:µ¸¿ò;color:000000;font-size:9pt;text-decoration:underline;cursor=w-resize;}
A:link {font-family:µ¸¿ò;color:000000;font-size:9pt;text-decoration:none;cursor=w-resize;}
A:visited {font-family:µ¸¿ò;color:000000;font-size:9pt;text-decoration:none;cursor=w-resize;}
A:hover {font-family:µ¸¿ò;color:000000;font-size:9pt;text-decoration:underline;cursor=w-resize;}
A.skin:active {cfont-family:µ¸¿ò;olor:#ffffff;font-size:9pt;text-decoration:underline;cursor=w-resize;}
A.skin:link {font-family:µ¸¿ò;color:#ffffff;font-size:9pt;text-decoration:none;cursor=w-resize;}
A.skin:visited {font-family:µ¸¿ò;color:#ffffff;font-size:9pt;text-decoration:none;cursor=w-resize;}
A.skin:hover {font-family:µ¸¿ò;color:#ffffff;font-size:9pt;text-decoration:underline;cursor=w-resize;}
      TD.type{font-family:µ¸¿ò;font-size:8pt; color:ffffff;}
      .button {font-family:µ¸¿ò;padding-left:0;color:FF78B8; font-size: 9pt;}
table.aa{border-right:0px solid #FFFFFF;border-left:0px solid #FFFFFF;}