body {
{scrollbar-arrow-color:EE8B01;
        scrollbar-base-color:A55900;
        scrollbar-darkshadow-color:EE8B01;
        scrollbar-face-color:A55900;
        scrollbar-highlight-color:EE8B01;
        scrollbar-shadow-color:EE8B01

    background:url() no-repeat fixed right bottom;}      
A:active {font-family:±¼¸²;color:FFCC00;font-size:9pt;text-decoration:none;}
A:link {font-family:±¼¸²;color:FFCC00;font-size:9pt;text-decoration:none;}
A:visited {font-family:±¼¸²;color:FFCC00;font-size:9pt;text-decoration:none;}
A:hover {font-family:±¼¸²;color:FFCC00;font-size:9pt;text-decoration:none;}
A.skin:active {cfont-family:±¼¸²;olor:#ffffff;font-size:9pt;text-decoration:none;}
A.skin:link {font-family:±¼¸²;color:#ffffff;font-size:9pt;text-decoration:none;}
A.skin:visited {font-family:±¼¸²;color:#ffffff;font-size:9pt;text-decoration:none;}
A.skin:hover {font-family:±¼¸²;color:#ffffff;font-size:9pt;text-decoration:none;}
      TD.type{font-family:±¼¸²;font-size:8pt; color:ffffff;}
      .button {font-family:±¼¸²;padding-left:0;color:FFCC00; font-size: 9pt;}
table.aa{border-right:0px solid #FFFFFF;border-left:0px solid #FFFFFF;}