BODY,TD,P,BR,SELECT,input,DIV,form,TEXTAREA,center,option,pre,blockquote {font-family:µ¸¿ò;font-size:9pt;color:#FD60A2;}
.input{border:#FD60A2 solid 1;font-family:µ¸¿ò;font-size:9pt;color:#FD60A2;height:19px}
.submit {border:#FD60A2 solid 1;font-family:µ¸¿ò;font-size:9pt;color:#FD60A2;height:19px}
