
BODY{background:#FFFFFF;}
.buttom {color:#FFCC00; font-weight:bold; font-size: 9pt;}
.buttom2 {font-family: 04b09; color:#F8D420; font-weight:bold; font-size: 12pt;}
.buttom1 {color:#FFCC00; font-size: 9pt; font-weight:bold; border:#333333 0px solid; height:16px; WIDTH:165px; cursor=w-resize;}
.buttom3 {color:#FFFF48; font-size: 9pt; border:#333333 0px solid; height:16px; WIDTH:165px; cursor=w-resize;}
